### Assignment 1
#### Moldir KUmarbek
#### BD-2005

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('Dataset_pandas_assign.csv')
dataset.head()

,Unique number,"Возраст, полных лет",Гражданство,Стаж вождения,Пол,КБМ,Город,Марка,Модель,Тип ТС,Год выпуска,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Дата проишествия,Регион ДТП,Сумма убытка
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,23,25,26.0
1,74d88aec9cfe39a1bc5a93314c4326dc,30,Казахстан,10,М,8,Алматы,156,Alfa romeo,Легковые автомобили,12/1/2000,Слева,3000,красный,14.06.2013-13.06.2014,17625,NaN,NaN,NaN,NaN
2,c13fe1fef2192e82056e26544c3efed3,36,Казахстан,17,М,8,Нур-Султан,156,Alfa romeo,Легковые автомобили,12/1/2001,Слева,2387,синий,19.07.2013-18.07.2014,8484,NaN,NaN,NaN,NaN
3,8dd751c0f9c0cf216303a0d445099e1b,46,Казахстан,28,М,8,Алматы,Rsv 1000r,Aprilia,Мотоциклы и мотороллеры,12/1/2005,Слева,998,красный,07.06.2013-06.06.2014,8031,NaN,NaN,NaN,NaN
4,005f21aeed2db9c1694f724f365be6b5,45,Казахстан,13,М,7,Нур-Султан,80,Audi,Легковые автомобили,12/1/1992,Слева,1984,серебристый металлик архивный,30.05.2013-29.11.2013,6709,NaN,NaN,NaN,NaN

In [3]:
dataset = dataset.rename(columns={'Возраст, полных лет':'Age', 'Unique number': 'Driver', 'Дата проишествия' : 'Acc', 'Стаж вождения':'driver_experience','Регион ДТП' : 'Acc_place','Год выпуска':'year'})
dataset

,Driver,Age,Гражданство,driver_experience,Пол,КБМ,Город,Марка,Модель,Тип ТС,year,Расположение руля,Объём двигателя,Цвет,Период страхования,Страховая премия,Льготы,Acc,Acc_place,Сумма убытка
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,18,19,23,25,26.0
1,74d88aec9cfe39a1bc5a93314c4326dc,30,Казахстан,10,М,8,Алматы,156,Alfa romeo,Легковые автомобили,12/1/2000,Слева,3000,красный,14.06.2013-13.06.2014,17625,NaN,NaN,NaN,NaN
2,c13fe1fef2192e82056e26544c3efed3,36,Казахстан,17,М,8,Нур-Султан,156,Alfa romeo,Легковые автомобили,12/1/2001,Слева,2387,синий,19.07.2013-18.07.2014,8484,NaN,NaN,NaN,NaN
3,8dd751c0f9c0cf216303a0d445099e1b,46,Казахстан,28,М,8,Алматы,Rsv 1000r,Aprilia,Мотоциклы и мотороллеры,12/1/2005,Слева,998,красный,07.06.2013-06.06.2014,8031,NaN,NaN,NaN,NaN
4,005f21aeed2db9c1694f724f365be6b5,45,Казахстан,13,М,7,Нур-Султан,80,Audi,Легковые автомобили,12/1/1992,Слева,1984,серебристый металлик архивный,30.05.2013-29.11.2013,6709,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,c6a3b53d633ff4155492e2e19b9a8010,57,Казахстан,35,М,8,Павлодар,Нива 212300-55,Шевроле,Легковые автомобили,12/1/2012,Слева,1690,серый металлик,12.06.2013-10.04.2014,6976,NaN,NaN,NaN,NaN
10906,c84892e816bec0dbd5429c75fb57b305,55,Казахстан,20,М,9,Петропавловск,Нива 212300-55I,Шевроле,Легковые автомобили,1/1/2012,Слева,1690,серебристый,16.06.2013-15.06.2014,6400,NaN,NaN,NaN,NaN
10907,d406878650cbf18002d29968bf832c31,73,Казахстан,45,М,8,Костанай,Нива 212300-55I,Шевроле,Легковые автомобили,12/1/2010,Слева,1700,снежная королева,18.06.2013-17.06.2014,10053,NaN,NaN,NaN,NaN
10908,dcb07973b07a508c4680406b38fdfa56,67,Казахстан,20,М,8,Усть-Каменогорск,Нива 212300-55glc,Шевроле,Легковые автомобили,12/1/2011,Слева,1690,снежная королева,01.07.2013-30.06.2014,5052,Инвалид,NaN,NaN,NaN
10909,e5d53857c001d29441e397a35ccc0392,65,Казахстан,34,М,8,Актобе,Нива 212300-55I,Шевроле,Легковые автомобили,12/1/2011,Слева,1690,серебристый,01.07.2013-30.06.2014,3480,Инвалид,NaN,NaN,NaN

##### 1) What is the average age and percentage of road accidents for all drivers based on genders?

In [4]:
dataset = dataset.drop(labels=None, axis=0, index=0, columns=None, level=None, inplace=False, errors='raise')

In [5]:
dataset.groupby('Пол',as_index = True).mean()

,Age,driver_experience,КБМ,Объём двигателя,Страховая премия,Сумма убытка
Пол,,,,,,
Ж,43.810682,13.903264,6.803561,2331.699703,13656.416617,404413.807692
М,48.004445,18.772984,7.470620,2403.140395,10433.984497,345044.596330

In [6]:
## 
pol = dataset.groupby('Пол',as_index = True).Acc.count()
pol

Пол
Ж     25
М    111
Name: Acc, dtype: int64

In [7]:
all_sum = dataset.value_counts('Driver').sum()
all_sum

10909

In [8]:
(pol / all_sum )*100 #last version

Пол
Ж    0.229169
М    1.017508
Name: Acc, dtype: float64

##### 2. What is the difference between average driving experience and mean bonus-malus class for males and females?

In [9]:
df1 = dataset.groupby('Пол').driver_experience.mean()
df1

Пол
Ж    13.903264
М    18.772984
Name: driver_experience, dtype: float64

In [10]:
df2 = dataset.groupby('Пол').КБМ.mean()
df2

Пол
Ж    6.803561
М    7.470620
Name: КБМ, dtype: float64

In [11]:
df1 - df2 #last version of #2

Пол
Ж     7.099703
М    11.302363
dtype: float64

##### 3. In which year the most significant number of vehicles were built? Please provide the list of top-10 years sorting based on the number of vehicles (descending).

In [12]:
df3 = dataset['Год выпуска'].str[-4:]
df3.head()

KeyError: 'Год выпуска'

In [ ]:
df3.value_counts().head(10)

### 4. How much customers pay for the contract in average and how this number is correlated with the bonus-malus class?

In [ ]:
dataset['КБМ'].mean()

### 5. What is the most popular vehicle-make company in any 5 cities? (choose the cities you like most)

In [ ]:
city = dataset[dataset['Город'] == 'Павлодар']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

In [ ]:
city = dataset[dataset['Город'] == 'Талдыкорган']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

In [ ]:
city = dataset[dataset['Город'] == 'Актобе']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

In [ ]:
city = dataset[dataset['Город'] == 'Семей']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

In [ ]:
city = dataset[dataset['Город'] == 'Нур-Султан']
data10 = city.groupby('Город',as_index = True).Модель.value_counts().head(1)
data10

### 6. What kind of vehicle colors people prefer most, dark ones or light ones? Group all colors to dark and light as you like.

In [ ]:
dataset['Цвет'].value_counts().head()
## here серебристый металлик архивный also a light color, so people more prefer to light color

In [ ]:
dark = ['черный', 'синий','коричневый','серый','серый металлик', 'темно-синий перламутровый', 'серо-зелёный металлик', 'сиреневый', 
        'темно-синий металлик','серый металлик', 'темно-серый металлик архивный', 'баклажановый', 'графит',  
        'вишневый', 'гранат', 'бордовый','зелёный', 'темно-серый', 'сине-зелёный','серо-зелёный архивный', 'коричневый', 'сенеж', 
        'темно-синий перламутровый', 'гранат', 'черный металик', 'темно-бордовый металлик', 'темно-красный металлик']
light = ['абрикосовый', 'белый', 'серебристый металлик архивный', 'серебристый', 'белый с желтым отливом', 
         'золотое руно', 'айсберг', 'красный', 'снежная королева', 'фиолетовый', 'голубой металлик', 'желтый', 
         'светло-зелёный металлик', 'белый перламутровый', 'сафари', 'серо-белый',  
         'серебристый', 'липа зеленая', 'ярко-синий', 'оливковый зелёный', 'сине-белый', 
         'бело-дымчатый', 'пепельный', 'малиновый', 'кипарис', 'лимонный', 'белый жемчужный', 'лиловый']

In [ ]:
colors = dataset[dataset['Цвет'].isin(light)]
colors['Цвет'].count()

### 7. What is the most popular vehicle-make company for females in Almaty, Shymkent and Nur-Sultan (Astana) respectively?

In [ ]:
data = dataset[dataset['Пол'] == 'Ж']
data1 = data.loc[ dataset['Город'] == 'Алматы',['Модель','Город','Пол']].value_counts().head()
data1

In [ ]:
data = dataset[dataset['Пол'] == 'Ж']
data2 = data.loc[ dataset['Город'] == 'Шымкент',['Модель','Город','Пол']].value_counts().head()
data2

In [ ]:
data = dataset[dataset['Пол'] == 'Ж']
data3 = data.loc[ dataset['Город'] == 'Нур-Султан',['Модель','Город','Пол']].value_counts().head()
data3

### 8. What is the distribution of car road accidents for different cities?
### Which city is in the first place for road accidents? 
### From the top-10 cities, is there any countrysides?

In [ ]:
dataset.groupby('Гражданство',as_index = True).Acc_place.value_counts()
# the first place for road accidents is Almaty
# Тимирязево is the one of the countryside that had accidents

### 9. How many people had more than 1 car in one year? Is there any driver who had more than 1 car accident in one year?

In [ ]:
data8 = dataset[dataset.duplicated(['Driver','Acc_place','Acc','year'])]
data8

In [ ]:
data8 = dataset[dataset.duplicated(['Driver','Acc'])].Acc_place.value_counts()
data8

In [ ]:
dataset.groupby('Driver',as_index = True).Acc.value_counts().sort_values(ascending = False)

### 10. What is the distribution of road accidents based on the bonus-malus class?

In [ ]:
dataset['КБМ'].value_counts().sort_values(ascending = True)